@use '../abstracts/index' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // scrollbar-width: thin;
  // scrollbar-color: rbga(155,155,155,0.5) transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Fjella One';
  color: $text-color;
  background-color: $background-color;
}

h1 {
  font-size: $header1;
}
h2 {
  font-size: $header2;
}
h3 {
  font-size: $header3;
}
h4 {
  font-size: $header4;
}
p {
  font-size: $paragraph;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  padding: 1rem 1.5rem;
  border: none;
  border: 2px solid $text-color;
  font-size: $paragraph;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $text-color;
    color: $background-color;
  }
  &:focus {
    outline: none;
  }
}

footer {
  height: 10vh;
  @include flex(space-evenly, center, row);

  .credit {
    @include flex(flex-end, center, row);
    img {
      filter: invert(28%) sepia(5%) saturate(34%) hue-rotate(328deg) brightness(89%) contrast(10%);
      margin: 0rem 2rem;
      width: 10rem;
      height: auto;
    }
  }
}
