@use '../abstracts/index' as *;

.playlist {
  background-color: $background-color;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100%;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease;

  box-shadow: 2px 2px 20px $shadow-color1, 2px 2px 80px $shadow-color2;
  h3 {
    padding: 1rem;
    text-align: center;
  }

  &.active {
    transform: translateX(0%);
    opacity: 1;
  }
}

.track-container {
  @include flex(space-between, center, row);
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    background: $hover-color;
  }
  .track-thumbnail {
    flex: 0.5;
    width: 30%;
  }
  .track-details {
    flex: 2;
    margin-left: 1rem;
    @include flex(center, flex-start, column);
  }
  &.selected {
    background-color: $active-color;
  }
}
