$background-color: rgb(226, 226, 226);
$text-color: rgb(76, 76, 76);
$shadow-color1: rgb(76, 76, 76);
$shadow-color2: rgb(187, 187, 187);
$dark-shadow-color1: rgb(34, 34, 34);
$dark-shadow-color2: rgb(73, 73, 73);
$hover-color: rgb(193, 193, 193);
$active-color: rgb(238, 219, 139);
